

body {
    background-image: url("https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.quote-box {
    margin: 200px 0 0 375px;
    border: 1px solid white; 
    width: 500px;
    padding: 70px;
    border-radius: 10px;
    background-color: #133D80;
    color: white;
    font-family: 'Krona One', sans-serif;

 
}

.quote-box #author {
    font-size: 10px;
}

.quote-box #btn {
    display: inline-block;
  border-radius: 50px;
  background-color: #190e2b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.quote-box #btn{
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.quote-box #btn:hover{
    background-color:#aca4af;
     border-color:#DDDDDD;
    }

.quote-box #main {
    font-style: italic;
    color: #688eca;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (max-width: 900px) {
    .quote-box{
        margin: auto;
        background-color: #654274;
        width: 250px;
        justify-content: center;

    }

    .quote-box #main {
        font-style: italic;
        color: #c7a5d6;
    }
}